@import "includes/_misc/fonts";

// variables
$container-width: 1740px;
$footer-height: 147px;
$body-font: 'roboto_regular';

//colors
$black: #373e42;
$grey: #455a64;
$green: #009688;
$lgreen: #00bfa5;

// base
@import "includes/_misc/base";
@import "includes/_misc/mixins";
@import "includes/_misc/font-awesome";

// sections
@import "includes/sections/welcome";
@import "includes/sections/header";
@import "includes/sections/about";
@import "includes/sections/works";
@import "includes/sections/blog";
@import "includes/sections/footer";