.contacts
	h3.subtitle.subtitle--contacts
		.subtitle__text Контакты
	ul.contacts__list
		li.contacts__item
			a.contacts__link(href="#")
				i.contacts__icon.fa.fa-skype
				span.contacts__text d.svishchuk@gmail.com
		li.contacts__item
			a.contacts__link(href="#")
				i.contacts__icon.fa.fa-envelope
				span.contacts__text d.svishchuk@gmail.com
		li.contacts__item
			a.contacts__link(href="#")
				i.contacts__icon.fa.fa-phone
				span.contacts__text +7 905 227 96 27
		li.contacts__item
			a.contacts__link(href="#")
				i.contacts__icon.fa.fa-map-marker
				span.contacts__text Санкт-Петербург