nav.nav
	ul.nav__list
		li.nav__item
			a.nav__link(href="#") Мои работы
		li.nav__item
			a.nav__link(href="#") Обо мне
		li.nav__item
			a.nav__link(href="#") Блог
		li.nav__item
			a.nav__link(href="#") Авторизация