.skills
	.skills__caption Frontend
	.circle
		svg(class="circle__svg", width="110", height="110")
			circle(r="45", cx="50%", cy="50%", stroke="#ccc", fill="none")
			circle(r="45", cx="50%", cy="50%", stroke="#00bfa5").circle__fill.circle__fill--html
		.circle__caption HTML5
	.circle
		svg(class="circle__svg", width="110", height="110")
			circle(r="45", cx="50%", cy="50%", stroke="#ccc", fill="none")
			circle(r="45", cx="50%", cy="50%", stroke="#00bfa5").circle__fill.circle__fill--css
		.circle__caption CSS3
	.circle
		svg(class="circle__svg", width="110", height="110")
			circle(r="45", cx="50%", cy="50%", stroke="#ccc", fill="none")
			circle(r="45", cx="50%", cy="50%", stroke="#00bfa5").circle__fill.circle__fill--js
		.circle__caption JavaScript & jQuerry
	.skills__caption Backend
	.circle
		svg(class="circle__svg", width="110", height="110")
			circle(r="45", cx="50%", cy="50%", stroke="#ccc", fill="none")
			circle(r="45", cx="50%", cy="50%", stroke="#00bfa5").circle__fill.circle__fill--php
		.circle__caption PHP
	.circle
		svg(class="circle__svg", width="110", height="110")
			circle(r="45", cx="50%", cy="50%", stroke="#ccc", fill="none")
			circle(r="45", cx="50%", cy="50%", stroke="#00bfa5").circle__fill.circle__fill--mysql
		.circle__caption mySQL
	.circle
		svg(class="circle__svg", width="110", height="110")
			circle(r="45", cx="50%", cy="50%", stroke="#ccc", fill="none")
			circle(r="45", cx="50%", cy="50%", stroke="#00bfa5").circle__fill.circle__fill--node
		.circle__caption Node.js & npm
	.circle
		svg(class="circle__svg", width="110", height="110")
			circle(r="45", cx="50%", cy="50%", stroke="#ccc", fill="none")
			circle(r="45", cx="50%", cy="50%", stroke="#00bfa5").circle__fill.circle__fill--mongo
		.circle__caption Mongo.db
	.skills__caption Workflow
	.circle
		svg(class="circle__svg", width="110", height="110")
			circle(r="45", cx="50%", cy="50%", stroke="#ccc", fill="none")
			circle(r="45", cx="50%", cy="50%", stroke="#00bfa5").circle__fill.circle__fill--git
		.circle__caption Git
	.circle
		svg(class="circle__svg", width="110", height="110")
			circle(r="45", cx="50%", cy="50%", stroke="#ccc", fill="none")
			circle(r="45", cx="50%", cy="50%", stroke="#00bfa5").circle__fill.circle__fill--gulp
		.circle__caption Gulp
	.circle
		svg(class="circle__svg", width="110", height="110")
			circle(r="45", cx="50%", cy="50%", stroke="#ccc", fill="none")
			circle(r="45", cx="50%", cy="50%", stroke="#00bfa5",).circle__fill.circle__fill--bower
		.circle__caption Bower