.socials
	ul.socials__list
		li.socials__item
			a.socials__link(href="https://vk.com/svishd") vk
				.socials__icon.fa.fa-vk
		li.socials__item
			a.socials__link(href="http://github.com/SvishD") git
				.socials__icon.fa.fa-github-alt
		li.socials__item
			a.socials__link(href="#") in
				.socials__icon.fa.fa-linkedin
