section.about
	.about__me
		.about__me-title
			.title-wrapper.title-wrapper--about
				.title
					h2.title__text Обо мне
		.about__me-content
			img.about__me-img(src="/assets/img/face.svg" alt="face") 
			h3.subtitle.subtitle--about
				.subtitle__text Кто я
			.about__me-description
				p Я начинающий веб разработчик из Санкт-Петербурга. Мне 24 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
				p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

	.about__skills 
		.subtitle.subtitle--skills 
			h3.subtitle__text Чем я могу быть вам полезен
		.about__skills-container
			.skills__description Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
			include _skills
section.section-map
	.map#map
	include _contacts
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCREUA3rohY3Lbsd9rRr_Pcuzv2DiicrxA&callback=map.init' async defer)

				