.overlay
	ul.overlay__list
		li.overlay__item
			a.overlay__link(href="/works.html") Мои работы
		li.overlay__item
			a.overlay__link(href="/about.html") Обо мне
		li.overlay__item
			a.overlay__link(href="/blog.html") Блог
		li.overlay__item
			a.overlay__link(href="/index.html") Авторизация
