.footer
	.footer__top
		.footer__left
			nav.footer__nav
				ul.nav__list
					li.nav__item
						a.nav__link Мои работы
					li.nav__item
						a.nav__link Обо мне
					li.nav__item
						a.nav__link Блог
					li.nav__item
						a.nav__link Авторизация
		.footer__right
	.footer_bottom
		.footer__left
		.footer__right