.footer
	.footer__top
			.footer__left
				include _nav
			.footer__right
				include _socials--round
	.footer_bottom
			.footer__left
				.footer__text Я веб-разработчик из Санкт-Петербурга, и этот сайт я сделал в рамках обучения в школе онлайн образования Loftschool.
			.footer__right
				.footer__copyright Дмитрий Свищук | создано с любовью в Loftschool | 2016