header.header.header--blog
	.header__container
		.header__top
			.header__left
				include _socials
			.header__right
				a.menu(href="#")
					include ../../images/icons/hamburger.svg
	.header__bottom
		.user.user--blog
			.user__avatar
				img.user__avatar-img(src="/assets/img/ava_sm.jpg")
			.title-wrapper.title-wrapper--blog
				h2.title
					.title__text Блог
			.user__description статьи которые я написал
	.triangle.triangle--blog
		include ../../images/icons/traingle.svg
	