header.header
	.header__top
		.header__left
			include _socials
		.header__right
			a.menu(href="#")
				.menu__icon.fa.fa-bars
	.header__bottom
		include _user
		a.down__link(href="#")
			i.fa.fa-chevron-down
	.triangle.triangle--about
		include ../../images/icons/traingle.svg
	