.works-title
	.title-wrapper.title-wrapper--works
		h2.title
			.title__text Мои работы
.slider
	ul.slider__list
		li.slider__item
			.slider__image
				img.slider__img(src="/assets/img/work-1.png")
			.slider__description
				.description__content
					.descripton__title Сайт школы онлайн Образования
					.descripton__tech HTML, CSS, JS
					a.descripton__link(href="#")
						i.descripton__icon.fa.fa-link
						span.descripton__text Посмотреть сайт
	a.slider__arrow-left(href="#")
		i.slider__icon.fa.fa-chevron-left
	a.slider__arrow-right(href="#")
		i.slider__icon.fa.fa-chevron-right


