.nav {
	@extend %clearfix;
	display: inline-block;
}

.nav__list {
}

.nav__item {
	float: left;
	margin-right: 38px;
	&:last-child {
		margin-right: none;
	}

	@include phone {
		margin-right: 10px;
	}

}

.nav__link {
	display: block;
	padding: 25px 0px;
	text-decoration: none;
	color: #fff;
	transition: all .5s;
	@include roboto(medium);

	&:hover {
		color: $lgreen;
	}

	@include laptop {
		padding-bottom: 20px;
	}
}