.nav {
	@extend %clearfix;
}

.nav__list {
}

.nav__item {
	float: left;
	margin-right: 40px;
	&:last-child {
		margin-right: none;
	}

}

.nav__link {
	display: block;
	padding: 30px 0px;
	text-decoration: none;
	color: #fff;
	transition: all .5s;
	@include roboto(medium);

	&:hover {
		color: $lgreen;
	}
}