.user {
	text-align: center;
	color: #fff;
	position: relative;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 1175px;
		height: 314px;
		transform: translate(-50%,-50%);
		background-image: url('/assets/img/icons/portfolio_header.svg');
		background-repeat: no-repeat;
		opacity: .1;
		z-index: -1;
		@include laptop {
			content: none;
		}
	}

	&--blog {
		&:after {
			content: none;
		}
		.user__description {
			margin-top: -38px;
		}
	}
	&--welcome {
		&:after {
			content: none;
		}
	.user__name {
		@include roboto(medium);
		font-size: 28px;
		}
	.user__avatar {
		margin-bottom: 10px;
		}
	}
	
}

.user__avatar {
	@include inlineblock();
	width: 140px;
	height: 140px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 17px;
}

.user__avatar-img {
	display: block;
	width: 100%;
}

.user__name {
	@include roboto(medium);
	font-size: 35px;
}

.user__description {
	@include roboto(light);
	opacity: .8;
}

.user--welcome {
	.user__name {
		color: $grey;
	}
	.user__description {
		color: $grey;
	}
}