.blog {
  @extend %clearfix;
  padding-top: 45px;
  padding-bottom: 250px;
  background-color: #fff;
}

.blog-title {
  text-align: center;
  background-color: #faf8f0;

}

.blog-nav {
  float: left;
  width: 21.8%;
  margin-right: 6.5%;
  margin-top: 5px;
  text-align: right;
  @include laptop {
    display: none;
  }
}
.blog-nav__link {
  padding: 14px 18px;
  display: block;
  text-decoration: none;
  color:$grey;
  border-right: 3px solid transparent;
  @include roboto(regular);
  font-size: 1rem;
  line-height: 24px;
  &:hover {
    color: $lgreen;
  }
  &--active {
    border-right: 3px solid $lgreen;
    color: $lgreen;
    @include roboto(bold);

  }
}
.articles {
  width: 50%;
  float: left;
  @include desktop {
    width: 60%;
  }
  @include laptop {
    width: 95%;
    margin-left: 5%;
  }
}

.article {
  padding-bottom: 75px;
  position: relative;
  margin-bottom: 65px;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: #f1f1f2;
  }
  &:last-child {
    padding-bottom: 0;
    &::after {
      display: none;
    }
  }
}

.article__title {
  margin: 0;
  font-family: 'Bernier';
  color: #566358;
  margin-bottom: 16px;
}

.article__date {
  display: block;
  font: normal 1rem 'Roboto', Arial, sans-serif;
  color: $lgreen;
  margin-bottom: 20px;
}

.article__text {
  p {
    margin: 0;
    margin-bottom: 15px;
    @include roboto(regular);
    font-size: 1rem;
    line-height: 26px;

  }
}
