.footer {
	color: #fff;
	height: 147px;
	background-color: rgba($black, .85);
	@include roboto(regular);
	padding: 0 30px 5px 30px;
	margin-top: -147px;
	position: relative;
	box-sizing:border-box;

	@include laptop {
		height: 215px;
		margin-top: -215px;
	}

	@include phone {
		padding: 0px;
		height: 270px;
		margin-top: -270px;
	}
}

.footer__top {
	border-bottom: 1px solid rgba(#fff, .1);
	@extend %clearfix;
	margin-bottom: 14px;
}

@import "_nav";
@import "_socials";

.footer_bottom {
	@extend %clearfix;
	@include roboto(light);
	opacity: .5;
}

.footer__left{
	text-align: left;
}

.footer__right{
	text-align: right;
}
.footer__left,.footer__right {
	width: 50%;
	float: left;
	display: inline-block;
  	vertical-align: middle;

  	@include laptop {
  		float: none;
  		width: 100%;
  		text-align: center;
  		margin: 0 auto;
  	}
}


.footer__copyright {
	padding-top: 10px;
	display: inline-block;

	@include laptop {
  		padding-top: 7px;
  	}
}