.footer {
	color: #fff;
	background-color: rgba($black, .85);
	@include roboto(regular);
	padding: 0 30px;
}

.footer__top {
	border-bottom: 1px solid rgba(#fff, .1);
	@extend %clearfix;
	margin-bottom: 14px;
}

@import "_nav";
@import "_socials";

.footer_bottom {
	@extend %clearfix;
	@include roboto(light);
	opacity: .5;
}

.footer__left,.footer__right {
	width: 50%;
	float: left;
	display: inline-block;
  	vertical-align: middle;
}

.footer__left{
	text-align: left;
}

.footer__right{
	text-align: right;
}

.footer__copyright {
	padding-top: 10px;
}