.wrapper-index {
	width: 100%;
  min-width: 320px;
  min-height: 568px;
	height: 100%;
	background: url("/assets/img/bg.jpg") center 100% no-repeat ;
	background-size: cover;
	position: relative;
  overflow: hidden;
}

.welcome-header {
	padding-top: 24px;
	padding-right: 100px;
	@extend %clearfix;

  @include phone {
    text-align: center;
    padding-top: 10px;
    padding-right: 0px;
  }
}

.auth-btn {
	float: right;
	display: inline-block;
	text-decoration: none;
	padding: 10px 27px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	font-size: 1rem;
	@include roboto(medium);
	&:hover {
		color: $lgreen;
		background-color: #fff
	}

  @include phone {
    float: none;
  }
}


.info {
	z-index: 333;
	position: relative;
	background-color: rgba(#fff,.85);
	padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.card__content {
  transition: all 3s;
}

.card {
	position: absolute;
	top: 50%;
	left: 50%;
  min-width: 320px;
  max-width: 380px;
	margin-top: -200px;
  margin-left: -190px;
	text-align: center;
	overflow: hidden;
	border-radius: 5px;
  transform-style:preserve-3d;

	&__buttons {
	  margin: 0;
	  padding: 0;
	  display: flex;
	  list-style: none;
	  justify-content: space-between;
    &--auth {
      .card__button {
        width: 50%;
      }
    }
	}

	&__button {
		padding-top: 11px;
		padding-bottom: 11px;
		color: #fff;
		border: none;
		text-decoration: none;
		@include roboto(regular);
		background: rgba($lgreen,.8);
		border-right: 2px solid rgba(#fff,.5);
		flex-grow: 1;
		cursor: pointer;
		transition: background-color .2s;

		&:last-child {
			border-right: none;
		}
		
		&:hover {
		  background: $green;
		}
	}
}

.auth-form {
	display: none;
  transition: all 3s;
}

.auth-form__content {
    z-index: 333;
    position: relative;
    background-color: rgba(#fff,.85);
    padding: 40px 0;
    padding-top: 30px;
    min-width: 380px;
}


.auth-form__login-wrapper,
.auth-form__pass-wrapper {
  position: relative;
  padding-left: 45px;
  margin: 0 auto;
  width: 77.5%;
  margin-bottom: 20px;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 45px;
    border-radius: 5px 0 0 5px;
  }
}

.auth-form__login-wrapper {
  &::after {
    background: #f0efe9 url(../img/icons/login.svg) no-repeat 50% 50%;
  }
}

.auth-form__pass-wrapper {
  &::after {
    background: #f0efe9 url(../img/icons/password.svg) no-repeat 50% 50%;
  }
}

.auth-form__login,
.auth-form__pass {
  display: block;
  margin: 0 auto;
  position: relative;
  border: none;
  border-radius: 0 5px 5px 0;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  padding: 11px 0;
  padding-left: 20px;
  @include roboto(regular);
  color: #373e42;
  overflow: hidden;
  outline: none;
}

.captcha__check,
.captcha__radio{
  display: none;
}

.captcha__check-label {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 15px;
  @include roboto(regular);
  font-size: 1rem;
  &::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border-radius: 2px;
    background: $lgreen;
  }
}

.captcha__check:checked + .captcha__check-label {
  &::after {
    background: $lgreen url(../img/icons/check.svg) no-repeat 50% 50%;
    background-size: 60%;
  }
}

.captcha__question {
  margin-bottom: 5px;
  @include roboto(bold);
}

.captcha__radio-label {
  @include roboto(regular);
  font-size: 1rem;
  padding-left: 30px;
  display: inline-block;
  position: relative;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
  &::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
    width: 19px;
    height: 19px;
    left: 0;
    top: 0;
    background: #fff;
  }
}

.captcha__radio:checked + .captcha__radio-label {
  color: $lgreen;
  &::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    left: 6px;
    top: 50%;
    border-radius: 50%;
    background: $lgreen;
    transform: translateY(-60%);
    z-index: 20;
  }
}

.welcome-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 40px;
  text-align: center;
  color: #fff;

  @include phone {
    padding-bottom: 10px;
  }
}

.welcome-footer__wrapper {
  text-align: center;
  @include roboto(light);
  opacity: .8;
  overflow: hidden;
}

.welcome-footer__copy {
  @include phone {
    display: block;
    margin-bottom: 10px;
  }
}

.welcome-footer__text {
  @include phone {
    display: block;
    &::first-letter {
      font-size: 0px;
    }
  }
}
