extends ../_template

block variables
	-var title = 'Блог'

block content
	aside.blog-nav--green
		ul.blog-nav__list
			li.blog-nav__item.blog-nav__item--active
				a(href="#four").blog-nav__link Самое важное в SASS
			li.blog-nav__item
				a(href="#three").blog-nav__link Приёмы в вёрстке, без которых не обходится ни один сайт
			li.blog-nav__item
				a(href="#two").blog-nav__link Самый необходимый набор Gulp плагинов
			li.blog-nav__item
				a(href="#one").blog-nav__link Почему я выбрал Jade
		a.blog-nav__show a
	include ../common/header--blog
	section.blog
		aside.blog-nav
			ul.blog-nav__list
				li.blog-nav__item.blog-nav__item--active
					a(href="#four").blog-nav__link Самое важное в SASS
				li.blog-nav__item
					a(href="#three").blog-nav__link Приёмы в вёрстке, без которых не обходится ни один сайт
				li.blog-nav__item
					a(href="#two").blog-nav__link Самый необходимый набор Gulp плагинов
				li.blog-nav__item
					a(href="#one").blog-nav__link Почему я выбрал Jade
		section.articles
			article.article(data-article="four")
				h1.article__title Самое важное в SASS
				date.article__date 22 ноября 2016
				.article__text
					p.article__paragraph.
						Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
					p.article__paragraph.
						Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
			article.article(data-article="three")
				h1.article__title Приёмы в вёрстке, без которых не обходится ни один сайт
				date.article__date 22 ноября 2016
				.article__text
					p.article__paragraph.
						Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
					p.article__paragraph.
						Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
			article.article(data-article="two")
				h1.article__title Самый необходимый набор Gulp плагинов
				date.article__date 22 ноября 2016
				.article__text
					p.article__paragraph.
						Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
					p.article__paragraph.
						Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
			article.article(data-article="one")
				h1.article__title Почему я выбрал Jade
				date.article__date 22 ноября 2016
				.article__text
					p.article__paragraph.
						Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
					p.article__paragraph.
						Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            
block scripts
	script(src='/assets/js/preloader.js' defer)
	script(src='/assets/js/burger.js' defer)
	script(src='/assets/js/blognav.js' defer)
	script(src='/assets/js/highlight.js' defer)