extends ../_template

block variables
  - var title = 'Мои работы'

block content
  include ../common/header
  include ../common/slider
  include ../common/quotes

block scripts
  script(src='/assets/js/preloader.js' defer)
  script(src='/assets/js/arrows.js' defer)
  script(src='/assets/js/burger.js' defer)
  script(src='/assets/js/slider.js' defer)